body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  text-align: center;
}

* {
  font-family: Helvetica;
  color: seashell;
}

/** Header Css **/

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  background-color: black;
  top: 0;
}

header nav {
  padding-right: 10px;
}

header nav span {
  padding: 20px 10px;
}

header nav span a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

#logoimg {
  height: 50px;
  padding-left: 10px;
}

 /** Missionbox Css **/

.Missionbox {
  background-image: url(../resources/images/img-mission-background.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 70px;
  margin-top: 70px;
}

.centermessage {
  width: 1200px;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
}

.centermessage h2 {
  margin: 5px;
}

.centermessage h4 {
  margin-bottom: 10px;
}

/** Teabox Css **/

#headline {
  text-align: center;
}

.Teabox {
  width: 1000px;
  margin: auto;
}

.teaselection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.teaimg {
  text-align: center;
}

.teaimg img {
  width: 300px;
  height: 200px;
  padding: 15px;
}

.teaselection h4 {
  margin-top: 10px;
}

/** Location Box css **/

.Locationbox {
  width: 1200px;
  height: 500px;
  background-image: url(../resources/images/img-locations-background.jpg);
  padding-top: 70px;
  margin: auto;
}

.threeboxcontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.smallboxes {
  width: 300px;
  background-color: black;
  margin: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  opacity: 1;
}

#Locationheadline {
  text-align: center;
  margin: 0;
}

/* Location Css */

.contact {
  text-align: center;
}

/* Footer Css */

footer {
  text-align: left;
  padding-left: 20px;
}
